//- PUG Form for Alexa OAuth login Page
html
    head 
        script(src="/oauth2-implicit-grant.js")
    body
        h1 Todo Login
        table
            tr
                th Email:
                td
                    input#email
            tr
                th Pass:
                td
                    input#pass
        button#submit Verknüpfen